@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
    /* background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat; */
    background: rgb(209, 200, 217);
}